Example 1 Variables

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example 2 Variables

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Example 3 Variables x!=y

In [6]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 5 Variables x=x

In [ ]:
x = "John"
# is the same as
x = 'John'

Example 6 Variables A!=a

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Example 1 Names Legal names

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:
1)A variable name must start with a letter or the underscore character
2)A variable name cannot start with a number
3)A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4)Variable names are case-sensitive (age, Age and AGE are three different variables)
5)A variable name cannot be any of the Python keywords.

Example 2 Names Illegal names

In [7]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Example 1 Multiple Values

In [9]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example 2 Multiple Values

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Example 3 Multiple Values

In [11]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Example 1 Output Variables

In [12]:
x = "Python is awesome"
print(x)

Python is awesome

Example 2 Output Variables

In [13]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example 3 Output Variables

In [14]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Example 4 Output Variables

In [16]:
x = 5
y = 10
print(x + y)

15

Example 5 Output Variables Error

In [17]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Example 6 Output Variables

In [18]:
x = 5
y = "John"
print(x, y)

5 John

Example 1 Global Variables

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Example 2 Global Variables

In [20]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Example 3 Global Variables

In [21]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 4 Global Variables

In [22]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic